<nav class="navbar nav">
    <img src="../assets/logo.png" class="logo">
    <a class="Name navbar-brand" >Skill Us</a>
    <a class="content1 nav-link"routerLink="Home">Home</a>
    <a class="content2 nav-link "routerLink="AboutUs">AboutUs</a>
    <a class="content3 nav-link"routerLink="AboutUs">AboutUs</a>
    <a class="content4 nav-link"routerLink="AboutUs">AboutUs</a>
    <a class="Frame BrowserExperts rectangle  nav-link" routerLink="BrowseExperts">Browse Experts</a>
    <a class="Frame2 Courses rectangle2  nav-link" routerLink="Courses">Courses</a>
    <img src="../../assets/Vector.png" class="Vector">
</nav>