<body>
    

<section class="section1">
    
    <div>
        <img src="../../assets/Arrow 1.svg" alt="" class="arrow1">
        <div>
        <h1 class="h1bold">Empowering Knowledge for 20+ Years</h1>
        <img src="../../assets/Underline1.svg" alt="" class="Underline1">
        <pre class="h4regular">
            Explore our new digital platform offering expert-led sessions and courses in 
            Finance, Accounting, Business, Marketing, and HR.
        </pre>
    </div>
    <div class="frame2">
        <h4 class="Frame BrowserExperts rectangle">Browse Experts </h4>
        <h4 class="Frame2 Courses rectangle2">View Courses</h4> 
    </div>
    <img src="../../assets/Arrow 2.svg" alt=""class="arrow2">
</div>
<img src="../../assets/9975abe8b193b9f2df09dba5a4aad50e.png" alt="WhatsApp Image 2024-12-25 at 13.37.17_b8292ea0 1" class="whatsAppimage">

</section>
<section class="section2">
<div class="Frame19">
    <h2 class="Frame19h2bold">Best of Us</h2>
    <h1 class="Frame19h1bold">Learn Directly from Industry Experts</h1>
    <h5 class="Frame19h5regular">Schedule private sessions with professionals across 5 key fields</h5>
</div>
<div class="grid">
<div class="card">
    <img src="../../assets/cardimg1.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelFinance">Finance</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg2.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelBussiness">Bussiness</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg3.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelFinance">Finance</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg4.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelmarketing">marketing</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg1.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelFinance">Finance</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg2.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelBussiness">Bussiness</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg3.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelFinance">Finance</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
<div class="card">
    <img src="../../assets/cardimg4.jpg" alt="Mehdi Guinoubi" class="card-img">
    <div class="card-header">
        <span class="header-content">
            <h3>Mehdi Guinoubi</h3>
            <div class="cardlabelmarketing">marketing</div>
        </span>
    </div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur. Vel convallis porttitor vivamus adipiscing diam justo.
    </div>
    <button class="book-button">Book Now</button>
</div>
</div>
<div class="Frame316">
<pre class="Frame316pre">
    Our experts are seasoned <span style="color:  #3198A3;">professionals</span> with years of hands-on <span style="color:  #3198A3;">experience</span> in 
    <b>Finance, Accounting, Business, Marketing, and HR.</b>
</pre>
</div>
</section>
<section class="section3">
<div class="Frame314">
<div class="Frame19">
<h2 class="Frame19h2">Most Popular</h2>
<h1 class="Frame19h1">Latest Courses to Accelerate Your Growth</h1>
<h4 class="Frame19h4">Gain practical skills through our diverse course catalog.</h4>
<span >Browse All Courses <img src="../../assets/heroicons-solid_arrow-up.svg" alt=""></span>
</div>
<div class="grid2">
    <div class="card2">
        <img src="../../assets/Finacial.png" alt="Mehdi Guinoubi" class="card-img">
        <div class="labelFinance">Finance</div>
        <div class="card-header">
            <span class="header-content">
                <h3>Financial Modeling: Build a Complete DCF Valuation Model</h3>
               
            </span>
        </div>
        <div class="card-body">
            The course includes exams and the option to email instructors for support. Successful completion of the course earns a certificate of completion (aka free bragging rights).
        </div>
    </div>
    <div class="card2">
        <img src="../../assets/marketing.png" alt="Mehdi Guinoubi" class="card-img">
        <div class="labelmarketing">Marketing</div>
        <div class="card-header">
            <span class="header-content">
                <h3>Financial Modeling: Build a Complete DCF Valuation Model</h3>
            </span>
        </div>
        <div class="card-body">
            The course includes exams and the option to email instructors for support. Successful completion of the course earns a certificate of completion (aka free bragging rights).
        </div>
    </div>
    <div class="card2">
        <img src="../../assets/Finacial.png" alt="Mehdi Guinoubi" class="card-img">
        <div class="labelFinance">Finance</div>
        <div class="card-header">
            <span class="header-content">
                <h3>Financial Modeling: Build a Complete DCF Valuation Model</h3>
               
            </span>
        </div>
        <div class="card-body">
            The course includes exams and the option to email instructors for support. Successful completion of the course earns a certificate of completion (aka free bragging rights).
        </div>
    </div>
    <div class="card2">
        <img src="../../assets/LastestCoursesImage.png" alt="Mehdi Guinoubi" class="card-img">
        <div class="labelBussiness">Bussiness</div>
        <div class="card-header">
            <span class="header-content">
                <h3>Financial Modeling: Build a Complete DCF Valuation Model</h3>
            </span>
        </div>
        <div class="card-body">
            The course includes exams and the option to email instructors for support. Successful completion of the course earns a certificate of completion (aka free bragging rights).
        </div>
    </div>
    </div>
</div>
</section>
<section class="section4">
<div class="Frame313">
<h2 class="Frame313h2">Find Your Path</h2>
<h1 class="Frame313h1">Master all these fields</h1>
</div>
<div class="container">
    <img src="../../assets/Ellipse 11.png" class="ellipse ellipse11" alt="">
    <img src="../../assets/Ellipse 12.png" class="ellipse ellipse12" alt="">
    <img src="../../assets/Vector 7.svg" class="vector7" alt="">
   
</div>
<img src="../../assets/tdesign_send-filled.png" class="sendfilled1" alt="">
<img src="../../assets/tdesign_send-filled.png" class="sendfilled2"alt="">
<img src="../../assets/tdesign_send-filled.png" class="sendfilled3"alt="">
<img src="../../assets/tdesign_send-filled.png" class="sendfilled4"alt="">
<img src="../../assets/tdesign_send-filled.png" class="sendfilled5"alt="">
<div class="grid3">
    <div class="card3">
        <img src="../../assets/icon1.svg" alt="Mehdi Guinoubi" class="icon1">
        <div class="card-header">
            <span class="header-content">
                <h3>Marketing</h3>
               
            </span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
        </div>
    </div>
    <div class="card3">
        <img src="../../assets/icon2.svg" alt="Mehdi Guinoubi" class="icon1">
        <div class="card-header">
            <span class="header-content">
                <h3>Finance</h3>
            </span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
        </div>
    </div>
    <div class="card3">
        <img src="../../assets/icon3.svg" alt="Mehdi Guinoubi" class="icon1">
        <div class="card-header">
            <span class="header-content">
                <h3>Business</h3>
               
            </span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
        </div>
    </div>
    <div class="card3">
        <img src="../../assets/icon4.svg" alt="Mehdi Guinoubi" class="icon1">
        <div class="card-header">
            <span class="header-content">
                <h3>HR</h3>
            </span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
        </div>
    </div>
    <div class="card3">
        <img src="../../assets/icon5.svg" alt="Mehdi Guinoubi" class="icon1">
        <div class="card-header">
            <span class="header-content">
                <h3>Accounting</h3>
            </span>
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
        </div>
    </div>
</div>
</section>
<section class="section5">
    <article >

        <div class="section5div1">
            <h2>Skill Us Advantage</h2>
            <h1>This is why we are better than the others</h1>
            <h4>Lorem ipsum dolor sit eet ut ante urna fusce et felis urna.ce et felis urna.ce et felis urna.et felis urna.ce et felis urna.</h4>
        </div>
        <img src="../../assets/the-best-team-gets-the-trophy 1.png" alt="">
    </article>
    <aside>
        <div class="grid4">
            <div class="card4">
                <img src="../../assets/icon4.svg" alt="Mehdi Guinoubi" class="icon1">
                <div class="label">20 Years of Excellence</div>
                
                <div class="card-body4">
                    Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
                </div>
            </div>
            <div class="card4">
                <img src="../../assets/icon5.svg" alt="Mehdi Guinoubi" class="icon1">
                <div class="label">Expert-Led Private Sessions</div>
                <div class="card-body4">
                    Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
                </div>
            </div>
            <div class="card4">
                <img src="../../assets/icon1.svg" alt="Mehdi Guinoubi" class="icon1">
                <div class="label">Industry-Focused Courses</div>
             
                <div class="card-body4">
                    Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
                </div>
            </div>
            <div class="card4">
                <img src="../../assets/icon2.svg" alt="Mehdi Guinoubi" class="icon1">
                <div class="label">Flexible Learning Options</div>
                <div class="card-body4">
                    Lorem ipsum dolor sit amet consectetur. Ac varius tristique quam tellus auctor dui.
                </div>
            </div>
        </div>  
    </aside>
    <img src="../../assets/Line 2.png" class="line"alt="">
</section>
<section class="section6">
<img src="../../assets/OBJECTS.png" alt="">
<aside>
<div class="">
    <div>
        <h2>
            Join Us
        </h2>
        <h1>
            Become An Expert
        </h1>
    </div>
    <div class="lorem">Lorem ipsum dolor sit amet consectetur. Non imperdiet habitant nibh rhoncus volutpat eget vel sagittis. Fermentum lectus ac id lacus. Nullam gravida duis tellus est amet arcu vitae enim. Sem dui purus viverra purus amet quis dignissim dictum.</div>
    <div class="button-containersection6">
        <button class="Apply-button">Apply Now</button>
        <div class="spansection6">
            See Our Experts <img src="../../assets/heroicons-solid_arrow-up.svg" alt="">
        </div>
    </div>
    
</div>
<img src="../../assets/Line 2.png" class="linesection6"alt="">
</aside>

</section>
<section class="section7">
    <article>
        <div class="grid5">
            <div class="containersection6">
            <div class="card6">
                <img src="../../assets/logo.png" alt="Mehdi Guinoubi" class="logo">
                <div class="label">Skill Us</div>
                
                <div class="card-body4">
                    
                </div>
            </div>
            <img src="../../assets/flowbite_x-solid.png" alt="">
            <img src="../../assets/ri_instagram-fill.png" alt="">
            <img src="../../assets/ic_baseline-facebook.png" alt="">
        </div>
            <div class="card7">
                <div >
                    Services
                    <br>
                    <br>
                    Feature
                    <br>
                    <br>
                    Ressource
                </div>
            </div>
            <div class="card8">
                <div >
                    About Us
                    <br>
                    <br>
                    Blog
                    <br>
                    <br>
                    Support
                </div>
            </div>
        </div>
        <img src="../../assets/Line 1.png"class="br" alt="">
        <div class="aboutUsContainer">
            <img src="../../assets/VectorC.png" class="VectorC" alt="">
            <div class="labelAboutUs">2024, Skill Us, All rights are preserved</div>
        </div>
        
    </article>
   
</section>
</body>